# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos de migraciones compiladas
*/migrations/__pycache__/

# Archivos estáticos compilados
staticfiles/

# Logs
*.log